:root{
    --clr-primary: #fafafa;
    --clr-small-text: #87879d;
    --clr-large-text: #28283d;
    --clr-btn-1:  #4d96a9;
    --clr-btn-2: #855fb1;
    --clr-extra1:  #8fe3f9;
    --clr-extra2:  #b18bdd;
    --clr-extra3: #71C0D4;
    --clr-extra-4: #d9b8ff;
    --ff-primary: 'Lexend Deca', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body{
    font-family: var(--ff-primary);
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    margin-top: 50px;
}
header img{
    width: 120px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 0 0;
}


.hero{
    max-width: 400px;
    margin-bottom: 30px;
    display: grid;
    grid-template-areas: 
        "pic1 pic2"
        "text text";
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
}
.hero-img-right{
    grid-area: pic1;
    justify-self: end;
    width: 100%;
}
.hero-img-left{
    grid-area: pic2;
    justify-self: start;
    width: 100%;
}
.hero-text{
    grid-area: text;
}

.hero-text h2{
    color: var(--clr-large-text);
    font-size: 6rem;
    margin-bottom: 25px;
    text-align: center;
}
.hero-text p{
    color: var(--clr-small-text);
    font-size: 2.1rem;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: center;
}
.hero-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.hero-btn a{
    text-decoration: none;
    padding: 15px 60px;
    border-radius: 50px;
    font-size: 2.1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.download-btn{
    background-color: var(--clr-btn-1);
    color: var(--clr-primary);
}
.download-btn:hover{
    background-color: var(--clr-extra3);
}
.learn-btn{
    background-color: var(--clr-btn-2);
    color: var(--clr-primary);
}
.learn-btn:hover{
    background-color: var(--clr-extra2);
}

.version{
    color: var(--clr-extra1);
    font-size: 1.8rem;
}

.about{
    margin-top: 55px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circled{
  margin-top: 80px;
  position: relative;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--clr-small-text);
  border-radius: 50%;

  font-weight: 600;
  background-color: var(--clr-primary);
  color: var(--clr-small-text);
}
.circled::before {
  content: "";
  position: absolute;
  top: -80px;          /* line length */
  left: 50%;
  transform: translateX(-50%);

  width: 1px;
  height: 80px;
  background-color: var(--clr-small-text);
}

.about-images{
    margin: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

}

.about-images img{
    width: 100%;
    border-radius: 10px;
}

.about-text{
    line-height: 1.5;
}



.about-small h2{
    color: var(--clr-large-text);
    font-size: 4rem;
    margin-bottom: 25px;
    text-align: center;
}

.about-text p{
    color: var(--clr-small-text);
    font-size: 2.1rem;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: center;
}

.about-small p{
    color: var(--clr-extra1);
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}
.cta {
    padding: 60px 20px;
    position: relative;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    overflow: hidden;
}

.cta-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    overflow: hidden;
}

.cta-img {
  position: absolute;
  inset: auto 0 0 0; 
  height: 72%;
  z-index: -2;
  width: 100%;

}

.cta-img img{  
  object-fit: cover;         
  object-position: center; 
}

#cta-img-2{
    display: none;
}

#cta-img-3{
    display: none;
}


.cta-colored {
  position: absolute;
  inset: auto 0 0 0;
  height: 72%;
  background-color: var(--clr-extra1);
  opacity: 0.7;
  z-index: -1;
}

.cta h2{
    color: var(--clr-large-text);
    font-size: 4rem;
    margin-bottom: 25px;
    text-align: center;
}

.cta p{
    color: var(--clr-small-text);
    font-size: 1.92rem;
    margin-bottom: 20px;
    text-align: center;
}

.cta a{
    text-decoration: none;
    padding: 15px 60px;
    border-radius: 50px;
    font-size: 2.1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    background-color: var(--clr-btn-2);
    color: var(--clr-primary);
}
.cta a:hover{
    background-color: var(--clr-extra2);
}
.cta-version{
    color: var(--clr-extra-4);
    font-size: 2.1rem;
}

@media (min-width: 768px){
    .hero{
        max-width: 768px
    }
    .hero-text h2{
        font-size: 11rem;
    }
    .hero-text p{
        font-size: 3rem;
    }
    .hero-btn{
    flex-direction: row;
    justify-content: center;
    }
    .about{
        max-width: 768px;
    }
    .about-images{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .about-small h2{
        font-size: 6rem;
    }
    .about-text p{
        font-size: 2.4rem;
    }
    .about-small p{
        font-size: 6rem;
    }
    .cta {
        max-width: 768px;
    }
    .cta-colored {
        height: 67%
    }
    .cta-img{
        height: 67%
    }
    #cta-img-1{
    display: none;
    }
    #cta-img-2{
        display: inline;
    }
    #cta-img-3{
        display: none;
    }
    .cta p{
        font-size: 2.3rem;
    }
}
@media (min-width: 1440px) {
    .hero{
        max-width: 1440px;
        display: grid;
        grid-template-areas: "pic1 text pic2";
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero-text h2{
        font-size: 7rem;
    }
    .hero-img-right{
        margin-right: 75px;
    }
    .hero-img-left{
       margin-left: 75px;  

    }
    .hero-text p{
        font-size: 2rem;
    }
    .hero-btn a{
        padding: 20px 50px;
        font-size: 1.5rem;
    }
    .about{
        max-width: 1440px;
    }
    .about-images{
        padding: 0 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .about-text{
        padding: 0 100px;
    }
    .about-small h2{
        font-size: 8rem;
        padding: 0 200px;
    }
   
    .about-small p{
        font-size: 6rem;
    }
    
     .about-text p{
        padding: 0 200px;
        font-size: 2.75rem;
    }

    .cta {
        max-width: 1440px;
    }
    .cta-inner{
        
        flex-direction: row;
        justify-content: space-between;
    }
    .cta-colored {
        height: 63%;
        width: 100%;
    }
    .cta-img{
        height: 63%;
        width: 100%;
    }
    #cta-img-1{
    display: none;
    }

    #cta-img-2{
        display: none;
    }
    #cta-img-3{
        display: inline;
    }
    .cta p{
        font-size: 2.3rem;
    }
    .cta-inner h2{
        text-align: left;
        margin-left: 50px;
    }
    .cta-inner p{
        text-align: left;
        margin-left: 50px;
        font-size: 2.5rem;
        padding: 0 200px;
    }
    .cta a{
        display: flex;
        flex-direction: space-between;
        margin-left: 50px;
        flex-direction: row;
        font-size: 2.1rem;
    }
}